[user]
	name = yuuki
	email = yuuki@localhost
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = nvim --clean
	excludesfile = $HOME/.gitignore_global
	hooksPath = /home/yuuki/Projects/my-harness-config/git-hooks
[commit]
	gpgsign = false
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = ssh://git@github.com/

[alias]
	st = status
	cm = commit -m
	p = push
	pf = push --force-with-lease
	wa = worktree add
	wl = worktree list
	wd = worktree remove
	pretty = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
